     <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">个人资料</strong>
      <a href="">／修改</a></div>
    </div>
  <div style="width:1000px;height:1000px;margin:24px;">
    <div class="img" style="float:left;height:auto;padding-top: 10px;">
       <div class="infor_detail_up">
        <div class="am-u-sm-4 am-u-md-4 am-u-lg-4 am-u-lg-push-1 " >
              <div class="usr_img">
              <img class="am-circle" src="images/index.jpg"  width="140" height="140" alt=""/>
              </div>
              </div>    
        </div>
        </div>
        
               
<div class="information" style="float:left;height:auto;">
<ul class="infor_detail_list" style="line-height:52px;">
    <li><span>用户名：</span><span>一只特立独行的猪&nbsp;&nbsp;</span><span class="edit_up"></span></li>
    <li>
    <span>标签：</span>
    <span class="target">前端</span>
    <span class="target">前端</span>
    <span class="target">前端</span>
    <span class="target last">前端</span>
    
    </li>
    <li>
    <span style="border-right: solid 1px;">手机号码：1234****789112&nbsp;&nbsp;</span>
    <span style="margin-left:10px;">邮箱：1234***45@163.com&nbsp;&nbsp;</span>
    </li>
  

</ul>
        
</div>
</div>