<div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">个人资料</strong></div>
    </div>
    
    <div class="am-g am-g-collapse">
        <div class="am-u-sm-4 am-u-md-4 am-u-lg-4 am-u-lg-push-1 " >
              <div class="usr_img">
              <img class="am-img-circle am-img-thumbnail" src="" alt=""/>
              </div>
              </div>    
        <div class="am-u-sm-8 am-u-md-8 am-u-md-8">
             <div calss="am-g">
            <div class="pre_infor_u">
                <p>用户名：<%= @user_session.name %></p>
            </div>
            <div class="pre_infor_tag">
 <p>前端&nbsp;&nbsp;美工&nbsp;&nbsp;设计&nbsp;&nbsp;产品&nbsp;&nbsp;程序员&nbsp;&nbsp;</p>
                <span class="pre_infor_detail"><a  class="pre_infor_detail" href="">点击查看详细资料</a></span>
                </div>
            </div>
        </div>
</div>
<div>
    <ul class="am-avg-sm-1 am-avg-md-4 am-margin am-padding am-text-center admin-content-list ">
      <li><a href="#" class="am-text-success"><span class="am-icon-btn am-icon-file-text"></span><br/>关注者   <br/>2300</a></li>
      <li><a href="#" class="am-text-warning"><span class="am-icon-btn am-icon-briefcase"></span><br/>关注了<br/>308</a></li>
      <li><a href="#" class="am-text-danger"><span class="am-icon-btn am-icon-recycle"></span><br/>收藏idea<br/>80082</a></li>
      <li><a href="#" class="am-text-secondary"><span class="am-icon-btn am-icon-user-md"></span><br/>参与项目<br/>3000</a></li>
    </ul>
    </div>
    
    
    
            <div class="am-panel am-panel-default">
         <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-2'}">参与项目</div>
          <div id="collapse-panel-2" class="am-in">
            <table class="am-table am-table-bd am-table-bdrs am-table-striped am-table-hover">
              <tbody>
              <tr>
                <th class="am-text-center"></th>
                <th>项目主题</th>
                <th>时间</th>
              </tr>
              <tr>
                <td class="am-text-center"></td>
                <td>2015年5月14日下班看妇联2</td>
                <td>2015-5-14</td>
              </tr>
              <tr>
                <td class="am-text-center"></td>
                <td>2015年5月14日下班看妇联2</td>
                <td>2015-5-14</td>
              </tr>
              <tr>
                <td class="am-text-center"></td>
                <td>2015年5月14日下班看妇联2</td>
                <td>2015-5-14</td>
              </tr>
              <tr>
                <td class="am-text-center"></td>
                <td>2015年5月14日下班看妇联2</td>
                <td>2015-5-14</td>
              </tr>
              <tr>
                <td class="am-text-center"></td>
               <td>2015年5月14日下班看妇联2</td>
                <td>2015-5-14</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
        
        
                <div class="am-panel am-panel-default">
          <div class="am-panel-hd am-cf" data-am-collapse="{target: '#collapse-panel-2'}">收藏Idea<span class="am-icon-chevron-down am-fr" ></span></div>
          <div id="collapse-panel-2" class="am-in">
            <table class="am-table am-table-bd am-table-bdrs am-table-striped am-table-hover">
              <tbody>
                <tr>
                <th class="am-text-center"></th>
                <th>收藏项目</th>
                <th>时间</th>
              </tr>
              <tr>
                <th class="am-text-center"></th>
              <td>2015年5月14日下班看妇联2</td>
                <td>2015-5-14</td>
              </tr>
              <tr>
                <td class="am-text-left"></td>
              <td>2015年5月14日下班看妇联2</td>
                <td>2015-5-14</td>
              </tr>
              <tr>
                <td class="am-text-center"></td>
             <td>2015年5月14日下班看妇联2</td>
                <td>2015-5-14</td>
              </tr>
              <tr>
                <td class="am-text-center"></td>
              <td>2015年5月14日下班看妇联2</td>
                <td>2015-5-14</td>
              </tr>
              <tr>
                <td class="am-text-center"></td>
         <td>2015年5月14日下班看妇联2</td>
                <td>2015-5-14</td>
              </tr>
              <tr>
                <td class="am-text-center"></td>
           <td>2015年5月14日下班看妇联2</td>
                <td>2015-5-14</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
    
