<style>
	#scrollerBox{
		text-align: center;
	}
	.post_box{
		float: left;
		display: block;
		height: auto;
		width: 20%;
		padding-left: 20px;
		margin: 5px;
	}
</style>
<div id="scrollerBox">
	
</div>
<script>
	$(document).ready(function($) {
		//==================获取前15个posts
		var get_posts_url = '<%= idea_store_get_posts_path %>';
		var params = new Array;
		var $obj = $("#scrollerBox")
		var flag = 'get_top15_posts'
		ByGet(params, $obj, get_posts_url, flag);
		//================
});
</script>


