<div id="scrollerBox">
	<div class="row">
	  <div class="small-1 medium-4  columns">...</div>
	  <div class="small-1 medium-4  columns">...</div>
	  <div class="small-1 medium-4  columns">...</div>
	  <div class="small-1 medium-4  columns">...</div>
	</div>
	<div class="row">
	  <div class="small-1 medium-4  columns">...</div>
	  <div class="small-1 medium-4  columns">...</div>
	  <div class="small-1 medium-4  columns">...</div>
	  <div class="small-1 medium-4  columns">...</div>
	</div>
	<div class="row">
	  <div class="small-1 medium-4  columns">...</div>
	  <div class="small-1 medium-4  columns">...</div>
	  <div class="small-1 medium-4  columns">...</div>
	  <div class="small-1 medium-4  columns">...</div>
	</div>
</div>
<script>
	$(document).ready(function($) {
		//==================获取前15个posts
		var get_posts_url = '<%= idea_store_get_posts_path %>';
		var params = new Array;
		var $obj = $("#scrollerBox")
		var flag = 'get_top15_posts'
		ByGet(params, $obj, get_posts_url, flag);
		//================
});
</script>


